@model IEnumerable<SignalRTest.Models.DevTestVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CampaignName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conversions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impressions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AffiliateName)
        </th>
        <th></th>
    </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CampaignName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clicks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conversions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Impressions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AffiliateName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
